<div class="ui pointing menu">
  <div class="ui container">
      <a class="ui header item" href="/campgrounds">
        YelpCamp
      </a>
      <div class="right menu">
        <% if(!currentUser){ %>
          <a href="/register" class="item">
            Sign up
          </a>
          <a href="/login" class="item">
            Login
          </a>
        <% } else { %>
          <a class="item" href="#">Welcome, <%= currentUser.username %></a>
          <a href="/logout" class="item">
            Log out
          </a>
        <% } %>
      </div>
  </div>
</div>

<div class="ui container">
  <% if (error && error.length > 0) {%>
    <div class="ui negative message">
      <p><%= error %></p>
    </div>
  <% } %>
  <% if (success && success.length > 0) {%>
    <div class="ui positive message">
      <p><%= success %></p>
    </div>
  <% } %>
  <% if (info&& info.length > 0) {%>
    <div class="ui info message">
      <p><%= info %></p>
    </div>
  <% } %>
  <% if (warning&& warning.length > 0) {%>
    <div class="ui warning message">
      <p><%= warning %></p>
    </div>
  <% } %>
</div>


