<%- include("../partials/header") %>
<%- include("../partials/navbar") %>


<div class="ui vertical masthead segment">
    <div class="ui container">
        <h1 class="ui header">
            Welcome to Yelp Camp
        </h1>
        <p>View our hand-picked campgrounds from all over the world!</p>
        <a class="ui violet button" href="/campgrounds/new">Add New Campground</a>
    </div>
</div>

<div id="camp-card">
    <div class="ui container">
        <div class="ui link violet cards">
            <% campgrounds.forEach(function(campground){ %>
                <div class="card">
                    <div class="image">
                        <img src="<%= campground.image %>">
                    </div>
                    <div class="content buttom aligned">
                        <div class="ui header">
                            <%= campground.name %>
                        </div>
                        <a href="/campgrounds/<%= campground._id %>" class="ui inverted violet button">More Info</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
