<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="ui container">
    <div class="ui grid">
        <div class="computer only four wide column">
            <div class="ui huge header">
                Yelp Camp
            </div>
            <div class="ui clearing divider"></div>
            <div class="ui vertical fluid menu">
                <a class="active item">
                    Info 1
                </a>
                <a class="item">
                    Info 2
                </a>
                <a class="item">
                    Info 3
                </a>
            </div>
        </div>
        <!-- <div class="mobile sixteen wide column computer twelve wide column"> -->
        <div class="sixteen wide tablet twelve wide computer column">
            <div class="ui segment" id="detail-image">
                <div class="image">
                    <img class="ui fluid rounded image" src="<%= campground.image %>">
                </div>
                <div class="content" id="detail-text">
                    <a class="ui huge header"><%= campground.name %></a>
                    <span class="ui right floated bottom aligned header" id="price">$<%= campground.price %>/night</span>
                    <div class="description">
                        <p class="well"><%= campground.description %></p>
                    </div>
                    <p><em>Created by <%= campground.author.username %></em></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <a class="ui violet inverted button" id="comment-button"
                        href="/campgrounds/<%= campground._id %>/edit">
                        <i class="icon edit"></i>
                        Edit
                    </a>
                    <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                        <button class="ui red inverted button"><i class="icon delete"></i>Delete</button>
                    </form>
                    <% } %>
                    <!-- <div class="ui star rating"></div> -->
                </div>
            </div>
            <!-- comment -->
            <div class="ui comments segment">
                <!-- header -->
                <a class="ui header">Comments</a>
                <div class="ui divider"></div>
                <!-- iterate all the comments for this campground -->
                <% campground.comments.forEach(function(comment){ %>
                    <div class="comment segment">
                        <a class="avatar">
                            <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
                            <!-- <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
                            <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
                            <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
                            <img src="https://semantic-ui.com/images/avatar/small/stevie.jpg">
                            <img src="https://semantic-ui.com/images/avatar/small/christian.jpg">
                            <img src="https://semantic-ui.com/images/avatar/small/helen.jpg">
                            <img src="https://semantic-ui.com/images/avatar/small/daniel.jpg">
                            <img src="https://semantic-ui.com/images/avatar2/small/elyse.png"> -->
                        </a>
                        <div class="content">
                            <a class="author"><%= comment.author.username %></a>
                            <div class="metadata">
                                <span
                                    class="date"><%= comment.created.toTimeString().substring(0,8) %> <%= comment.created.toDateString().substring(4,) %></span>
                            </div>
                            <div class="text">
                                <%= comment.text %>
                            </div>
                            <div class="actions">
                                <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>/edit"
                                        class="orange edit">Edit</a>
                                    <form id="delete-comment-form"
                                        action="/campgrounds/<%= campground._id%>/comments/<%= comment._id%>?_method=DELETE"
                                        method="post">
                                        <!-- <button class="ui delete tiny red basic button">Delete</button> -->
                                        <a href="javascript:{}" 
                                            onclick="document.getElementById('delete-comment-form').submit();" 
                                            class="delete">Delete</a>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }) %>
                <a class="ui violet button" id="comment-button"
                    href="/campgrounds/<%= campground._id %>/comments/new">
                    <i class="icon edit"></i>
                    Add New Comment
                </a>

            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
